<div class="col-md-6 offset-md-3">
    <h3 class="text-center">REGISTRO DE COMPRAS</h3>
    <form (submit)="onSubmit()">
      <div class="form-group">
        <label for="codigo">ID</label>
        <input type="text" class="form-control" name="idcompra" id="idcompra" [(ngModel)]="compra.idCompra">
      </div>
      <div class="form-group">
        <label for="nombre">fechacompra</label>
        <input type="text" class="form-control" name="fechacompra" id="fechacompra" [(ngModel)]="compra.fechacompra">
      </div>
      <div class="form-group">
        <label for="direccion">idcliente</label>
        <input type="text" class="form-control" name="idcliente" id="idcliente" [(ngModel)]="compra.idCliente">
      </div>
      <div class="form-group">
        <label for="celular">idproducto</label>
        <input type="text" class="form-control" name="idproducto" id="idproducto" [(ngModel)]="compra.idProducto">
      </div>
      <button type="submit" class="btn btn-success">Registrar</button>
    </form>
  </div>
  