<div class="col-md-6 offset-md-3" >
  <h3 class="text-center">REGISTRO DE PRODUCTOS</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="">Codigo</label>
        <input type="text" class="form-control" name="codigo" id="codigo"
        [(ngModel)]="producto.idproducto">
    </div>
    <div class="form-group">
        <label for="">Nombre</label>
        <input type="text" class="form-control" name="nombre" id="nombre"
        [(ngModel)]="producto.nombre">
    </div>
    <div class="form-group">
        <label for="">Marca</label>
        <input type="text" class="form-control" name="marca" id="marca"
        [(ngModel)]="producto.marca">
    </div>
    <div class="form-group">
        <label for="">Precio</label>
        <input type="text" class="form-control" name="precio" id="precio"
        [(ngModel)]="producto.precio">
    </div>
    <button class="btn btn-success">Registrar</button>
  </form>
</div>
